@media (max-width:1670px) {
 .girlDiv {
  width: 850px;
  height: 500px;
 }
  .colorImg {
    width: 1600px;
    height: 500px; 
 }
 .imgSar {
    display: none;
 }

 .deerPen {
    margin-top:100px;
 }

 .deer {
    width: 337px;
    height: 289px;
 }

 .pen {
    width: 337px;
    height: 289px;
    
 }

 .opendivdeer {
    height: 289px;
 }  
 .opendivpen {
    height: 289px;
 }

 .clounimg {
  width: 546px;
  height: 485px;
 }

  .asked-p {
    margin-left: 150px;
  
  }
  .paragraph2 {
    margin-top: 20px;
   
   }

}

@media (max-width:1485px) {

.paragraphFlex {
  display: flex;
  justify-content:center;
  
  }
  .deerPen {
    justify-content: center;
  }
  .zencispirtual {
    justify-content: center;
  }
  .clounimg {
    display: none;
  }

  .plus {
    margin-right: 50px;
  }
  .float-left-div {
    margin-top: 120px;
  }
  .paragraph2 {
    margin-top: 60px;
   
}
  .textGet {
    margin-top: 50px;
    margin-left: 160px;
  }
}

@media (max-width:920px) {
    .pluses {
    display: none;
    }
    .paragraph5 {
        margin-right: 100px;
        margin-top: 30px;
    }
    .p-five {
        width: 390px;
        height: 50px;
        margin-right: 60px;
    }
    .float-left-div {
        margin-top: 20px;
    }
    .paragraph2 {
        margin-top: 110px;
       
    }
    .girlDiv {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }

    .getStarted {
      width: 105px;
      height: 40px;
  }
    .textDiv {
      font-size: 30px;
      
    }
}

@media (max-width:510px) {
    .articlesRead {
        margin-right: 50px;
    }
    .pen {
        margin-top: 40px;
        margin-right: 40px;
    }
    .womenimg {
        margin-right: 40px;
    }
    .readMore {
        margin-right: 40px; 
    }
    .arrow {
        display: none;
    }
    .bigimgGlobal {
        margin-top: 15px;
    }
    .p-five {
     width: 300px;
     height: 50px;
     margin-right: 60px;
    }
    .asked {
        font-size: 30px;
        
    }
    .float-left-div {
      margin-top: 20px;
    }
    .paragraph2 {
        margin-top: 120px;
        
    }
    .girlDiv {
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }

    .getStarted {
      width: 105px;
      height: 40px;
      font-size: 20px;
  }
}
